body{
	font-family: roboto, arial, sans-serif;
	color: white;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  grid-gap: 5px;
  padding: 10px;
}

.grid > div {
  text-align: left;
  padding: 5px;
}

h2{
  background-image:url(back.jpg);
  height: 250px;
  position : relative;
  display : flex;
  align-items: center;
  justify-content: center;
}

fieldset{
	background-color: rgb(214, 234, 248);
	color: black;
	padding: 10px;
}

legend{
	background-color: #1c87c9;
	color: white; 
}

label{
	color: black;
}

input{
	padding: 5px;
	width: 100%;
	border-radius: 8px;
}

textarea{
	padding: 5px;
	width: 80%;
	border-radius: 8px;
}

input:focus {
	border-style: solid;
	border-width: 2px;
	border-color: #43DIAF; 
}

input[type=submit],[type=reset]{
	background-color: #1abc9c;
	color: white;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
}